script(src='components/modernizr/modernizr.js')
script(src='components/jquery/jquery.min.js')
script(src='js/plugins.js')
script
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
| !{assets.js()}
//- MY SCRIPTS
script(src='components/bootstrap/bootstrap.js')
//- script(src='js/main.js')
script(data-main="js/build", src="components/requirejs/require.js")
//- script(data-main="js/main.min", src="components/requirejs/require.js")