.container
	hr
	
	img.img-circle(src="http://www.gravatar.com/avatar/80771ea3c678d5de00d9329ea931322c.png?s=150")
	.float-left
		h4.copyright(href="http://sailsjs.com")
			| ©
			| Mahmoud Saada 
			= (new Date()).getFullYear();