meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

meta(name='description', content='')
meta(name='viewport', content='width=device-width')

//- Normalizing CSS
link(href='components/bootstrap/bootstrap.css', rel='stylesheet')

//- Custom CSS
link(href='css/style.css', rel='stylesheet')

//- Post-custom CSS
link(href='components/bootstrap/bootstrap-responsive.css', rel='stylesheet')
| !{assets.css()}
