!!! 5
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
	//<![endif]
	head
		block head
			include inc/head
			title= title
	body
		//if lt IE 7
			p.chromeframe.
				You are using an outdated browser.
				Please <a href="http://browsehappy.com/">upgrade your browser</a> or
				<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
				to improve your experience.
		
		include inc/header

		.container.content
			block content
		.footer
			include inc/footer

		include inc/footerScripts
		| !{assets.templateLibrary()}