extends ../layout

block body
  h1.header
    a(href='/') Hello world
  #content
    h2 It works!
    p You've successfully installed the Sails Framework.
    p Sails is a modern, realtime MVC framework for the Node.js platform.  It helps you build apps fast.
    p
      a.button(href="https://github.com/balderdashy/sails/wiki")
        span Documentation
      a.button(href="https://github.com/balderdashy/sails/wiki/Changelog")
        span Changelog

  .footer
    a.copyright(href="http://sailsjs.com") built by Mahmoud Saada